<?xml version="1.0"?>

<board type="Arduino Nano" name="app">
    <info>
        Astral Plane Prop for Cryptology
    </info>

    <defines>
        <define>NLEDS 174</define>
    </defines>

    <devices>
        <device name="LEDs" type="Adafruit NeoPixel">
            <setting id="pin" value="5"/>
            <setting id="npixels" value="NLEDS"/>
        </device>
        <device name="Mode Switch" type="Debounced Input">
            <setting id="pin" value="A0"/>
            <setting id="debounce_time" value="50"/>
            <setting id="pullup" value="true"/>
        </device>
        <device name="Activate Switch" type="Debounced Input">
            <setting id="pin" value="A1"/>
            <setting id="debounce_time" value="50"/>
            <setting id="pullup" value="true"/>
        </device>
        <device name="Maglock" type="Digital Output">
            <setting id="pin" value="2"/>
        </device>
        <device name="Heartbeat" type="Timed OnOff">
            <setting id="pin" value="13"/>
            <setting id="ontime" value="500"/>
            <setting id="offtime" value="500"/>
        </device>
        <device name="Buttons" type="Debounced Input" count="7">
            <setting id="pin" values="6|7|8|9|10|11|12"/>
            <setting id="debounce_time" all_values="50"/>
            <setting id="pullup" all_values="true"/>
        </device>
    </devices>

    <parameters>
        <parameter name="ButtonOrder" type="String">
            <setting id="reset_value" value="1234567"/>
            <setting id="length" value="7"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>
        <parameter name="SegmentMapping" type="String">
            <setting id="reset_value" value="1234567"/>
            <setting id="length" value="7"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>


        <parameter name="EasyColour" type="EightBitRGB">
            <setting id="r_default" value="0"/>
            <setting id="g_default" value="32"/>
            <setting id="b_default" value="0"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>
        <parameter name="ExpertColour" type="EightBitRGB">
            <setting id="r_default" value="32"/>
            <setting id="g_default" value="32"/>
            <setting id="b_default" value="0"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>

        <parameter name="SuccessColour" type="EightBitRGB">
            <setting id="r_default" value="0"/>
            <setting id="g_default" value="32"/>
            <setting id="b_default" value="0"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>
        <parameter name="FailColour" type="EightBitRGB">
            <setting id="r_default" value="32"/>
            <setting id="g_default" value="0"/>
            <setting id="b_default" value="0"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>

        <parameter name="FlashCount" type="Integer">
            <setting id="type" value="uint8_t"/>
            <setting id="reset_value" value="3"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>

        <parameter name="FlashPersist" type="Integer">
            <setting id="type" value="uint8_t"/>
            <setting id="reset_value" value="10"/>
            <setting id="use_eeprom" value="true"/>
        </parameter>

    </parameters>

    <modules>
    </modules>

    <custom_code>
        <file>application.cpp</file>
        <file>application.h</file>
        <file>leds.cpp</file>
        <file>leds.h</file>
    </custom_code>
    
    <logging>
        <log_module>APPLICATION</log_module>
        <log_module>LEDS</log_module>
    </logging>

    <raat protocol="url" buffer_size="24">
    </raat>
    
</board>
